
:root {
    --azul: #2742a5;
    --azulClaro: #1ccef4;
    --vermelho: #ee0000;
    --verde: #15ba35;
    --preto: #232323;
    --text: #f2f6fe;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    background: #cbcbcb;
    color: var(--preto);
}

.tela {
    width: 100vw;
    max-width: 685px;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f1f1f1;
    padding: 0px 0px 100px 0px;
}

.menu {
    width: 100%;
    max-width: 685px;
    height: 90px;
    background: var(--preto);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    z-index: 100;
}

.menu .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    color: var(--text);
} .menu .link:hover {
    color: var(--azulClaro);
    transition: all .2s linear;
}

.menu .link ion-icon {
    font-size: 27px;
    margin: 0px 0px 4px 0px;
}

.menu .link p {
    font-size: 14.5px;
    font-weight: 500;
}

.menu .atual p {
    font-weight: 700;
}


/* CONTAINER */

.container {
    width: 100%;
    height: auto;
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--preto);
    padding: 0px 0px 70px 0px;
}

.container .trabalho {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0px;
    padding: 0px 10px;
}

.container .trabalho h1 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 30px;
    margin: 0px 0px 8px 0px;
}

.container .trabalho p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 24px;
    margin: 0px 0px 8px 0px;
}

.container .trabalho .flex {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin: 10px 0px 0px 0px;
    position: relative;
}

.container .trabalho input {
    width: 100%;
    height: 52.5px;
    border: 2px solid #ccc;
    padding: 17px;
    outline: none;
    font-size: 15.5px;
    font-weight: 600;
    border-radius: 10px;
    color: var(--preto);
}

.container .trabalho ion-icon {
    background: var(--preto);
    color: var(--text);
    width: 23px;
    height: 23px;
    padding: 5.5px;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    cursor: pointer;
    border: 2px solid var(--preto);
} .container .trabalho ion-icon:hover {
    background: transparent;
    color: var(--preto);
    transition: all .2s linear;
}

/* CATEGORIAS */

.container .categorias {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
}

.container .categorias h1 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.container .categorias ul {
    width: 500px;
    max-width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #ccc;
    padding: 15px;
}

.container .categorias ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 5px;
    padding: 8px 15px;
    user-select: none;
    border-radius: 10px;
    cursor: pointer;
} .container .categorias ul li:hover {
    background: var(--azulClaro);
    transition: all .2s linear;
}

.container .categorias ul li ion-icon {
    font-size: 32px;
    margin: 0px 0px 6px 0px;
}

.container .categorias ul li p {
    font-size: 15.5px;
}