
:root {
    --azul: #2742a5;
    --azulClaro: #1ccef4;
    --vermelho: #ee0000;
    --verde: #15ba35;
    --preto: #232323;
    --text: #f2f6fe;
}

/* ICONS */
.estrela {
    color: #daa520;
}

.youtube {
    color: #ee0000;
}

.seguro {
    color: var(--azulClaro);
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    background: #cbcbcb;
    color: var(--preto);
}

.tela {
    width: 100vw;
    max-width: 685px;
    height: auto;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f1f1f1;
    padding: 0px 0px 100px 0px;
}

.menu {
    width: 100%;
    max-width: 685px;
    height: 90px;
    background: var(--preto);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    z-index: 100;
}

.menu .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    color: var(--text);
} .menu .link:hover {
    color: var(--azulClaro);
    transition: all .2s linear;
}

.menu .link ion-icon {
    font-size: 27px;
    margin: 0px 0px 4px 0px;
}

.menu .link p {
    font-size: 14.5px;
    font-weight: 500;
}

.menu .atual p {
    font-weight: 700;
}


/* NAVBAR */
.navbar {
    width: 100%;
    height: 65px;
    max-width: 685px;
    position: fixed;
    top: 0px;
    box-shadow: 0px 5px 15px #ccc;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    z-index: 50;
}

.navbar h1 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.2px;
}


/* CONTAINER */

.container {
    width: 100%;
    height: auto;
    position: relative;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--preto);
    padding: 0px 0px 70px 0px;
}


/* TRABALHOS EM GERAL */
.trabalhos {
    width: 100%;
    height: auto;
    margin: 20px 0px;
}

.trabalhos ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trabalhos ul li {
    width: 90%;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10px 25px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 1.5px solid var(--preto);
    margin: 10px 0px;
} .trabalhos ul li:hover {
    box-shadow: 0px 5px 15px var(--preto);
    transition: all .2s linear;
}

.trabalhos ul li h1 {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.trabalhos ul li ion-icon {
    font-size: 26px;
}

/* TRABALHO ESPECÍFICO */

.resultadoTrabalho {
    width: 100%;
    height: auto;
    margin: 30px 0px;
    display: none;
    flex-direction: column;
    align-items: center;
}

.resultadoTrabalho .informacoes {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.resultadoTrabalho .informacoes h1 {
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
}

.resultadoTrabalho .informacoes ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}

.resultadoTrabalho .informacoes ul li {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 6px 0px;
}

.resultadoTrabalho .informacoes ul li ion-icon {
    font-size: 20px;
    margin: 0px 0px 0px -4px;
}

.resultadoTrabalho .informacoes ul li p {
    font-size: 16px;
    margin: 0px 0px 0px 10px;
}

/* CONTENT FORMULARIO */

.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--azulClaro);
    padding: 25px;
    margin: -20px 0px 0px 0px;
}

.content .barra-de-progresso {
    width: 95%;
    height: 13px;
    border-radius: 8px;
    background: linear-gradient(90deg, var(--azul) 2%,#ccc 2%);
    margin: 7.5px 0px;
}

.content .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 17.5px 0px;
}

.content .flex ion-icon {
    font-size: 21px;
    margin: -2px 0px 0px 0px;
}

.content .flex p {
    font-size: 17px;
    margin: 0px 0px 0px 7px;
}

.content .formularios {
    width: 90%;
    height: auto;
    color: var(--preto);
    background: var(--text);
    padding: 20px 20px 110px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.content .formularios .botoes {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
}

.content .formularios button {
    width: 50%;
    max-width: 350px;
    height: 42px;
    border: 2px solid var(--azul);
    background: var(--azul);
    color: var(--text);
    border-radius: 10px;
    font-size: 15.5px;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    margin: 0px 8px;
} .content .formularios button:hover {
    background: transparent;
    box-shadow: 0px 5px 15px var(--azul);
    color: var(--azul);
    transition: all .2s linear;
}

.content .formularios .btn-voltar {
    display: none;
    background: transparent;
    color: var(--azul);
} .content .formularios .btn-voltar:hover {
    background: var(--azul);
    box-shadow: 0px 5px 15px var(--azul);
    color: var(--text);
    transition: all .2s linear;
}

.content .formularios .perguntas {
    width: 90%;
    height: auto;
    display: none;
    flex-direction: column;
}

.content .formularios .on {
    display: flex;
}

.content .formularios .perguntas h1 {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0px 10px 5px;
}


/* FORM */
.content .formularios section {
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.content .formularios section .flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 8px 0px;
}

.content .formularios section .flex label {
    margin: 0px 0px 0px 10px;
    font-size: 18px;
    font-weight: 500;
}

.content .formularios section .flex input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.content .formularios section .flex input[type="radio"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.content .formularios section select {
    width: 100%;
    height: 42px;
    padding: 0px 15px;
    border-radius: 8px;
    background: transparent;
    border: 2px solid #ccc;
    cursor: pointer;
}

