
:root {
    --azul: #2742a5;
    --azulClaro: #1ccef4;
    --vermelho: #ee0000;
    --verde: #15ba35;
    --preto: #232323;
    --text: #f2f6fe;
}

/* ICONS */
.estrela {
    color: #daa520;
}

.youtube {
    color: #ee0000;
}

.seguro {
    color: var(--azulClaro);
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    background: #cbcbcb;
    color: var(--preto);
}

.tela {
    width: 100vw;
    max-width: 685px;
    height: auto;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f1f1f1;
    padding: 0px 0px 100px 0px;
}

.menu {
    width: 100%;
    max-width: 685px;
    height: 90px;
    background: var(--preto);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    z-index: 100;
}

.menu .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    color: var(--text);
} .menu .link:hover {
    color: var(--azulClaro);
    transition: all .2s linear;
}

.menu .link ion-icon {
    font-size: 27px;
    margin: 0px 0px 4px 0px;
}

.menu .link p {
    font-size: 14.5px;
    font-weight: 500;
}

.menu .atual p {
    font-weight: 700;
}


/* NAVBAR */
.navbar {
    width: 100%;
    height: 65px;
    max-width: 685px;
    position: fixed;
    top: 0px;
    box-shadow: 0px 5px 15px #ccc;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    z-index: 50;
}

.navbar h1 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.2px;
}


/* CONTAINER */

.container {
    width: 100%;
    height: auto;
    position: relative;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--preto);
    padding: 0px 0px 70px 0px;
}


/* TRABALHOS EM GERAL */
.trabalhos {
    width: 100%;
    height: auto;
    margin: 20px 0px;
}

.trabalhos ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trabalhos ul li {
    width: 90%;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10px 25px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 1.5px solid var(--preto);
    margin: 10px 0px;
} .trabalhos ul li:hover {
    box-shadow: 0px 5px 15px var(--preto);
    transition: all .2s linear;
}

.trabalhos ul li h1 {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.trabalhos ul li ion-icon {
    font-size: 26px;
}

/* TRABALHO ESPECÍFICO */

.resultadoTrabalho {
    width: 100%;
    height: auto;
    margin: 25px 0px;
    display: none;
    flex-direction: column;
    align-items: center;
}

.resultadoTrabalho .informacoes {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.resultadoTrabalho .informacoes h1 {
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
}

.resultadoTrabalho .informacoes ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}

.resultadoTrabalho .informacoes ul li {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 6px 0px;
}

.resultadoTrabalho .informacoes ul li ion-icon {
    font-size: 20px;
    margin: 0px 0px 0px -4px;
}

.resultadoTrabalho .informacoes ul li p {
    font-size: 16px;
    margin: 0px 0px 0px 10px;
}
